* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --main-teal: #022B3A;
  --primary-green: #04E762;
}

#root {
  height: 100vh;
  width: 100%;
}

body {
  background-color: var(--main-teal);
  width: 100%;
  font-family: 'Kanit', sans-serif;

}

nav {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

h2 {
  color: var(--primary-green) !important;
  border: 2px var(--primary-green);
  border-style: dashed;
  border-radius: 6px;
  padding: 3px;
}

.menu-hamburguer {
  color: var(--primary-green) !important;
  font-size: 2rem;
}

a {
  color: #fff !important;
  text-decoration: none;
  
}

.number-menu {
  color: var(--primary-green);
}

.text-main {
  color: var(--primary-green);
}

hr {
  width: 40%;
  color: var(--primary-green)
}

.description-text {
  color: rgb(210, 210, 210);
}

.stack {
  font-size: 40px;
}

