* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --main-teal: #022B3A;
  --primary-green: #04E762;
  --darker-teal: #03343b;
}

#root {
  height: 100vh;
  width: 100%;
}

body {
  background-color: var(--main-teal);
  width: 100%;
  font-family: 'Kanit', sans-serif;

}

nav {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

h2 {
  color: var(--primary-green) !important;
  border: 2px var(--primary-green);
  border-style: dashed;
  border-radius: 6px;
  padding: 3px;
}

.menu-hamburguer {
  color: var(--primary-green) !important;
  font-size: 2rem;
}

a {
  color: #fff !important;
  text-decoration: none;
  
}

.number-menu {
  color: var(--primary-green);
}

.description-hero {
  color: var(--primary-green);
}

hr {
  width: 60%;
  color: var(--primary-green)
}

.description-text {
  color: rgb(210, 210, 210);
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 75px !important;
  font-weight: 200;
  color: rgb(210, 210, 210);
}

.stack {
  font-size: 40px;
}

.site {
  font-size: 2rem;
  color: var(--primary-green);
  cursor: pointer;
}

.btn-card:hover i {
  color: white;
  
}

.btn-card:hover {
  border:1px solid transparent !important;
}

.mail-form {
  padding: 20px;
  border: 2px solid var(--primary-green);
  border-radius: 5px;
  max-width: 700px;
  width: 95%;
}

.contact-icon {
  font-size: 4rem;
}

.nav-link:hover {
  color: var(--primary-green) !important;
}

.btn-card-link {
  width: 50%;
}



@media (max-width: 309px) {
  .site {
    font-size: 0.8rem;
    width: 9px;
  }

}

@media (max-width: 322px) {
  .stack {
    font-size: 35px !important; 
  }
}

@media (max-width: 364px) {
  .site {
    font-size: 1rem;
    width: 15px;
  }
  .btn-card {
    width:  50% !important;
  }
}

@media (max-width: 368px) {
  .stack {
    font-size: 40px !important; 
  }
}

@media (max-width: 460px) {
  .stack {
    font-size: 30px !important; 
  }

}



@media (max-width: 849px) {
  .stack {
    font-size: 4rem;
  }
}

@media (min-width: 850px) {
  .hero-section-container {
    padding-left: 18%;
    padding-right: 18%;
  }
  .stacks-section-container {
    padding-left: 18%;
    padding-right: 18%;
  }
  .stack {
    font-size: 70px;
  }
}

@media (min-width: 1440px) {
  .hero-section-container {
    padding-left: 25%;
    padding-right: 25%;
  }
  .stacks-section-container {
    padding-left: 25%;
    padding-right: 25%;
  }
  .stack {
    font-size: 90px !important;
  }
  .logo {
    height: 80px !important;
  }
  .nav-link {
    font-size: 1.8rem !important;
  }
  .btn-outline-success {
    height: 50px;
  }
}

@media (min-width: 1644px) {
  .card {
    width: 700px !important;
  }
  .btn-card-link {
    width: 50%;
    font-size: 1.5rem;
  }
  .card-text {
    font-size: 1.1rem;
    max-height: 100px !important;
  }
  form {
    max-width: 900px !important;
    height: 700px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  form input {
    height: 60px;
  }
  form input::placeholder {
    font-size: 1.3rem;
  }
  label {
    font-size: 1.4rem;
  }
  #liveToastBtn {
    font-size: 1.6rem;
    height: 60px;
  }
  .contact-icon {
    font-size: 6rem;
  }  
  .title-section {
    font-size: 2.5rem !important;
    
  }
  
}

@media (min-width: 2000px) {
  .description-hero {
    font-size: 2rem !important;
    line-height: 1.2;
  }
  .text-second {
    font-size: 2.3rem !important;
  }
  .nav-link {
    font-size: 2rem !important;
  }
  .btn-outline-success {
    width: 250px;
    font-size: 1.2rem;
  }
  .menu-link-container {
    width: 800px !important;
  }
  .name-hero {
    font-size: 4.9rem !important;
  }

}

@media (min-width: 2244px) {
  .card {
    width: 800px !important;
  }
  .btn-card-link {
    width: 50%;
    font-size: 1.6rem;
    height: 60px !important;
  }
  .card-text {
    font-size: 1.21rem;
    max-height: 120px !important;
  }
  .name-hero {
    font-size: 5.5rem !important;
  }
  
}

@media (min-width: 2544px) {
  .card {
    width: 900px !important;
  }
  form {
    max-width: 900px !important;
    height: 700px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  form input {
    height: 60px;
  }
  form input::placeholder {
    font-size: 1.3rem;
  }
  label {
    font-size: 1.4rem;
  }
  #liveToastBtn {
    font-size: 1.6rem;
    height: 60px;
  }
}




